streamlit>=1.30.0
langchain-core>=0.1.0
langchain-groq
langchain-community>=0.0.10
langchain-huggingface>=0.0.1
langchain-text-splitters>=0.0.1
faiss-cpu>=1.7.4
python-dotenv>=1.0.0
pymupdf>=1.23.0
docx2txt>=0.8
sentence-transformers>=2.2.0